<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SRMS</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="wrapper">
        <div class="full-length">
          <navbar class="nav">
  <div class="naming">
    <img src="/logo.png" width="50">
    <h3>STUDENT REPORT MANAGEMENT SYSTEM</h3>
  </div>

  <ul>
    <% if (user?.role === "admin") { %>
      <li><a href="/adminHome">Home</a></li>
      <li><a href="/students/addStudent">Add Student</a></li>
      <li><a href="/students/searchStudent">Search Student</a></li>
      <li><a href="/students/deleteStudent">Delete Student</a></li>
      <li><a href="/students/displayStudents">Display Students</a></li>
    <% } %>

    <% if (user?.role === "teacher") { %>
      <li><a href="/teacherhome">Home</a></li>
      <li><a href="/students/addStudent">Add Student</a></li>
      <li><a href="/students/searchStudent">Search Student</a></li>
      <li><a href="/students/displayStudents">Display Students</a></li>
    <% } %>

    <li><a href="/logout">Logout</a></li>
  </ul>
</navbar>

            