<%- include ("../partials/header.ejs") %>
        <div class="hero">
            <div class="main">
                <h1>teacher page</h1>
                <div class="add_student">
                    <button class="btn" id="add_stud" >
                       
                        <span><h2>Add Student</h2></span>
                    </button>
                </div>
                <div class="search_student">
                    <button class="btn" id="search_stud">
                      
                        <span><h2>Search Student</h2></span>
                    </button>
                </div>
                <div class="display_student">
                    <button class="btn" id="display_stud">
                        
                        <span><h2>Students Record</h2></span>
                    </button>
                </div>
            </div>
        </div>
<%- include ("../partials/footer.ejs") %>
<script >
    document.getElementById("add_stud").onclick = function() {
        location.href = "/addStudent";
    };
    document.getElementById("search_stud").onclick = function() {
        location.href = "/searchstudent";
    };
    document.getElementById("display_stud").onclick = function() {
        location.href = "/displaystudents";
    };
</script>